@model NewBookViewModel

<h1>Add a new book</h1>

<form method="post" asp-controller="Books" asp-action="Submit">
    <p>Book title</p>
    <input type="text" asp-for="Title" alt="Book Title" required="required">

    <p>Author</p>
    <input type="text" asp-for="Author" alt="Author" required="required">

    <p>Genre</p>
    <input type="text" asp-for="Genre" alt="Genre" required="required">

    <p>Number of Copies</p>
    <input type="number" asp-for="NumberOfCopies" alt="Number of Copies" required="required">

    <button type="submit">Add Book</button>
</form>

<a href="/books/all">Go back</a>