@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bookish</h1>

    <a href="/Books/All">Go to Books</a>
    <br/>
    <a href="/Members/All">Go to Members</a>
    <br/>
    <a href="/Checkout/All">Go to Checkout</a>
</div>
